Andino-Common/src/NodeRed/AndinoSMS/Flows/FlowsCustomNodes/ReadSMSManually.json
[{"id":"4175f4e8.e6694c","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"f3e81ccd.ff461","type":"comment","z":"4175f4e8.e6694c","name":"Read SMS manually","info":"","x":130,"y":60,"wires":[]},{"id":"b580e979.247428","type":"serial out","z":"4175f4e8.e6694c","name":"ttySC1","serial":"5d120708.184058","x":690,"y":160,"wires":[]},{"id":"478437c5.8c1f18","type":"smsChecker","z":"4175f4e8.e6694c","name":"Check for SMS","x":470,"y":160,"wires":[["b580e979.247428"]]},{"id":"3dfa61a0.bf91fe","type":"inject","z":"4175f4e8.e6694c","name":"Inject SMS Checker trigger","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":160,"wires":[["478437c5.8c1f18"]]},{"id":"f17b46d8.708768","type":"debug","z":"4175f4e8.e6694c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":710,"y":400,"wires":[]},{"id":"992afe44.206b7","type":"debug","z":"4175f4e8.e6694c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"number","targetType":"msg","statusVal":"","statusType":"auto","x":710,"y":340,"wires":[]},{"id":"5c9f3c6a.40c2b4","type":"debug","z":"4175f4e8.e6694c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"timestamp","targetType":"msg","statusVal":"","statusType":"auto","x":720,"y":280,"wires":[]},{"id":"69968558.dcb4ec","type":"smsProcessor","z":"4175f4e8.e6694c","name":"Process SMS","channel":"1","filter":"counter","x":480,"y":340,"wires":[["5c9f3c6a.40c2b4","992afe44.206b7","f17b46d8.708768"]]},{"id":"d3059dc5.9b43a","type":"serial in","z":"4175f4e8.e6694c","name":"","serial":"5d120708.184058","x":230,"y":340,"wires":[["69968558.dcb4ec"]]},{"id":"5d120708.184058","type":"serial-port","z":"","serialport":"/dev/ttySC1","serialbaud":"38400","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"\\n","responsetimeout":"10000"}]