Andino-Common/src/NodeRed/AndinoSMS/Flows/FlowsCustomNodes/SendSMS.json
[{"id":"ca0136da.0163e8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"ea5b7861.627568","type":"comment","z":"ca0136da.0163e8","name":"Send SMS","info":"","x":80,"y":60,"wires":[]},{"id":"25626521.f0729a","type":"inject","z":"ca0136da.0163e8","name":"inject test SMS","props":[{"p":"number","v":"+4915754494907","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Hi, this is a test message.","payloadType":"str","x":180,"y":140,"wires":[["281ba691.7e8a0a"]]},{"id":"281ba691.7e8a0a","type":"smsSender","z":"ca0136da.0163e8","name":"Send SMS","channel":"1","filter":"counter","x":440,"y":140,"wires":[["2361485d.0db968"]]},{"id":"2361485d.0db968","type":"serial out","z":"ca0136da.0163e8","name":"ttySC1","serial":"5d120708.184058","x":660,"y":140,"wires":[]},{"id":"5d120708.184058","type":"serial-port","z":"","serialport":"/dev/ttySC1","serialbaud":"38400","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"\\n","responsetimeout":"10000"}]