Andino-Common/src/NodeRed/AndinoSMS/Flows/FlowsFunctionNodes/ReadSMSmanual.json
[{"id":"bd48deb6.39864","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"f339aff7.a5e1d","type":"serial out","z":"bd48deb6.39864","name":"ttySC1","serial":"9b1da488.7d0508","x":750,"y":100,"wires":[]},{"id":"7a9e986a.64fdb8","type":"serial in","z":"bd48deb6.39864","name":"","serial":"9b1da488.7d0508","x":170,"y":320,"wires":[["15050c9c.ba0833"]]},{"id":"3ae17767.5126e8","type":"inject","z":"bd48deb6.39864","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"read","payloadType":"str","x":140,"y":120,"wires":[["659b244c.643bbc","dcea9507.44e878"]]},{"id":"659b244c.643bbc","type":"change","z":"bd48deb6.39864","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"at+cmgl=\"REC UNREAD\"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":140,"wires":[["11e54d52.175bd3"]]},{"id":"dcea9507.44e878","type":"change","z":"bd48deb6.39864","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"at+cmgf=1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":80,"wires":[["f339aff7.a5e1d"]]},{"id":"11e54d52.175bd3","type":"delay","z":"bd48deb6.39864","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":550,"y":140,"wires":[["f339aff7.a5e1d"]]},{"id":"4907eb08.c7a3c4","type":"debug","z":"bd48deb6.39864","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":730,"y":380,"wires":[]},{"id":"15050c9c.ba0833","type":"function","z":"bd48deb6.39864","name":"","func":"var number=context.get(\"number\");\nvar timestamp=context.get(\"timestamp\")\n\nif(number===undefined){\n    number=null;\n}\n\n//Check if number and timestamp are not empty (if previous message was SMS header), returns msg\nif(number!==null){\n        msg.number=number;\n        msg.timestamp=timestamp;\n        msg.payload=msg.payload.substring(0, msg.payload.length-1);\n    \n        context.set(\"number\", null);\n        context.set(\"timestamp\", null);\n    \n        return msg;\n}\n\n//Check if message payload is SMS header message, saves number and timestamp in context\nif(msg.payload.startsWith(\"+CMGL:\")){\n    var payloadData = msg.payload.split(',');\n    number=payloadData[2].substring(1, payloadData[2].length-2);\n    timestamp=(payloadData[4].substring(1) + \" \" + payloadData[5].substring(0, payloadData[5].length-6));\n    context.set(\"number\",number);\n    context.set(\"timestamp\",timestamp);\n    return null;\n}\nreturn null;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":320,"wires":[["4907eb08.c7a3c4","ab21df42.5ceeb","1f20de87.250d41"]]},{"id":"1f20de87.250d41","type":"debug","z":"bd48deb6.39864","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"number","targetType":"msg","statusVal":"","statusType":"auto","x":730,"y":320,"wires":[]},{"id":"ab21df42.5ceeb","type":"debug","z":"bd48deb6.39864","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"timestamp","targetType":"msg","statusVal":"","statusType":"auto","x":740,"y":260,"wires":[]},{"id":"df8d84d7.3a30e8","type":"comment","z":"bd48deb6.39864","name":"Read SMS manually","info":"","x":110,"y":40,"wires":[]},{"id":"9b1da488.7d0508","type":"serial-port","z":"","serialport":"/dev/ttySC1","serialbaud":"38400","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"\\n","responsetimeout":"10000"}]