Andino-Common/src/NodeRed/AndinoSMS/Flows/FlowsFunctionNodes/ReadSMSautomatic.json
[{"id":"79254f69.4ed9d","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"50ed57af.62e1c8","type":"comment","z":"79254f69.4ed9d","name":"Read SMS automatically","info":"","x":150,"y":40,"wires":[]},{"id":"5560dd3a.cb0634","type":"serial out","z":"79254f69.4ed9d","name":"ttySC1","serial":"9b1da488.7d0508","x":1070,"y":140,"wires":[]},{"id":"c4e62e56.b5d2d","type":"serial in","z":"79254f69.4ed9d","name":"","serial":"9b1da488.7d0508","x":190,"y":380,"wires":[["581d9c71.b8a714","85b74ca6.fda6a"]]},{"id":"55176cd5.bbbfd4","type":"change","z":"79254f69.4ed9d","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"at+cmgl=\"REC UNREAD\"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":180,"wires":[["8a17319.8e056d"]]},{"id":"d1fd0eff.540aa","type":"change","z":"79254f69.4ed9d","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"at+cmgf=1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":120,"wires":[["5560dd3a.cb0634"]]},{"id":"8a17319.8e056d","type":"delay","z":"79254f69.4ed9d","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":870,"y":180,"wires":[["5560dd3a.cb0634"]]},{"id":"6834bd63.692394","type":"debug","z":"79254f69.4ed9d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":750,"y":420,"wires":[]},{"id":"581d9c71.b8a714","type":"function","z":"79254f69.4ed9d","name":"","func":"var number=context.get(\"number\");\nvar timestamp=context.get(\"timestamp\")\n\nif(number===undefined){\n    number=null;\n}\n\n//Check if number and timestamp are not empty (if previous message was SMS header), returns msg\nif(number!==null){\n        msg.number=number;\n        msg.timestamp=timestamp;\n        msg.payload=msg.payload.substring(0, msg.payload.length-1);\n    \n        context.set(\"number\", null);\n        context.set(\"timestamp\", null);\n    \n        return msg;\n}\n\n//Check if message payload is SMS header message, saves number and timestamp in context\nif(msg.payload.startsWith(\"+CMGL:\")){\n    var payloadData = msg.payload.split(',');\n    number=payloadData[2].substring(1, payloadData[2].length-2);\n    timestamp=(payloadData[4].substring(1) + \" \" + payloadData[5].substring(0, payloadData[5].length-6));\n    context.set(\"number\",number);\n    context.set(\"timestamp\",timestamp);\n    return null;\n}\nreturn null;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":360,"wires":[["6834bd63.692394","a05bf72c.3e0648","6da940bb.934a1"]]},{"id":"6da940bb.934a1","type":"debug","z":"79254f69.4ed9d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"number","targetType":"msg","statusVal":"","statusType":"auto","x":750,"y":360,"wires":[]},{"id":"a05bf72c.3e0648","type":"debug","z":"79254f69.4ed9d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"timestamp","targetType":"msg","statusVal":"","statusType":"auto","x":760,"y":300,"wires":[]},{"id":"85b74ca6.fda6a","type":"function","z":"79254f69.4ed9d","name":"","func":"if(msg.payload.startsWith(\"+CMTI:\")){\n    return msg;\n}else{\n    return null;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":160,"wires":[["d1fd0eff.540aa","55176cd5.bbbfd4"]]},{"id":"9b1da488.7d0508","type":"serial-port","z":"","serialport":"/dev/ttySC1","serialbaud":"38400","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"\\n","responsetimeout":"10000"}]