Andino-Common/src/NodeRed/AndinoSMS/Flows/FlowsFunctionNodes/SendSMS.json
[{"id":"8a680f92.c0d68","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"3d047d0d.d9cff2","type":"serial out","z":"8a680f92.c0d68","name":"ttySC1","serial":"9b1da488.7d0508","x":890,"y":160,"wires":[]},{"id":"3353a91d.ba8e06","type":"inject","z":"8a680f92.c0d68","name":"","props":[{"p":"number","v":"+4915754494907","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"test message","payloadType":"str","x":110,"y":120,"wires":[["9681e14b.bc648","34fab362.7558bc"]]},{"id":"583daf84.f80fd","type":"function","z":"8a680f92.c0d68","name":"","func":"msg.payload=\"at+cmgs=\\\"\" + msg.number + \"\\\"\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":160,"wires":[["3d047d0d.d9cff2"]]},{"id":"d3893b5.e6226c8","type":"delay","z":"8a680f92.c0d68","name":"","pauseType":"delay","timeout":"800","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":690,"y":300,"wires":[["3d047d0d.d9cff2"]]},{"id":"93b69a6b.3a00c8","type":"function","z":"8a680f92.c0d68","name":"","func":"var chr = String.fromCharCode(26);\nmsg.payload = chr;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":300,"wires":[["d3893b5.e6226c8"]]},{"id":"de0fe5a9.9e2578","type":"delay","z":"8a680f92.c0d68","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":570,"y":220,"wires":[["3d047d0d.d9cff2"]]},{"id":"9681e14b.bc648","type":"delay","z":"8a680f92.c0d68","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":290,"y":160,"wires":[["583daf84.f80fd","93b69a6b.3a00c8","de0fe5a9.9e2578"]]},{"id":"34fab362.7558bc","type":"change","z":"8a680f92.c0d68","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"at+cmgf=1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":100,"wires":[["3d047d0d.d9cff2"]]},{"id":"552d7d5b.07dcb4","type":"comment","z":"8a680f92.c0d68","name":"Send SMS","info":"","x":80,"y":60,"wires":[]},{"id":"9b1da488.7d0508","type":"serial-port","z":"","serialport":"/dev/ttySC1","serialbaud":"38400","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"\\n","responsetimeout":"10000"}]