Andino-Common/src/NodeRed/AndinoX1Node/node_red_relay_inputs_examples.json
[
    {
        "id": "f75dfdd2090140b8",
        "type": "tab",
        "label": "Relay / Inputs Examples",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "6add0207d6a68530",
        "type": "inject",
        "z": "f75dfdd2090140b8",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 150,
        "y": 160,
        "wires": [
            [
                "e702cb2298aade6c"
            ]
        ]
    },
    {
        "id": "aca084c86d4e67d8",
        "type": "inject",
        "z": "f75dfdd2090140b8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 150,
        "y": 240,
        "wires": [
            [
                "e702cb2298aade6c"
            ]
        ]
    },
    {
        "id": "e702cb2298aade6c",
        "type": "AndinoX1",
        "z": "f75dfdd2090140b8",
        "name": "",
        "channel": "1",
        "filter": "relay1",
        "chng": "0",
        "x": 400,
        "y": 200,
        "wires": [
            [
                "03347c8b576ba960"
            ]
        ]
    },
    {
        "id": "03347c8b576ba960",
        "type": "tcp out",
        "z": "f75dfdd2090140b8",
        "name": "",
        "host": "localhost",
        "port": "9999",
        "beserver": "client",
        "base64": false,
        "end": false,
        "tls": "",
        "x": 710,
        "y": 200,
        "wires": []
    },
    {
        "id": "7c24998b36d77196",
        "type": "comment",
        "z": "f75dfdd2090140b8",
        "name": "Turns on/off an individual delay (configure inside AndinoX1 node)",
        "info": "",
        "x": 320,
        "y": 60,
        "wires": []
    },
    {
        "id": "2693fd9f05b921f8",
        "type": "comment",
        "z": "f75dfdd2090140b8",
        "name": "Pulse relay 2 for 3 seconds, if pin 1 is turned on (click on TCP in node below and enable it at the bottom first)",
        "info": "",
        "x": 450,
        "y": 600,
        "wires": []
    },
    {
        "id": "582a9c88d00c1a43",
        "type": "tcp in",
        "z": "f75dfdd2090140b8",
        "d": true,
        "name": "",
        "server": "client",
        "host": "localhost",
        "port": "9999",
        "datamode": "stream",
        "datatype": "utf8",
        "newline": "",
        "topic": "",
        "base64": false,
        "tls": "",
        "x": 170,
        "y": 700,
        "wires": [
            [
                "f013a7bc648f3328"
            ]
        ]
    },
    {
        "id": "f013a7bc648f3328",
        "type": "AndinoX1",
        "z": "f75dfdd2090140b8",
        "name": "",
        "channel": "1",
        "filter": "events",
        "chng": "1",
        "x": 360,
        "y": 700,
        "wires": [
            [
                "734e2f1a477d1d3f"
            ]
        ]
    },
    {
        "id": "734e2f1a477d1d3f",
        "type": "switch",
        "z": "f75dfdd2090140b8",
        "name": "",
        "property": "payload.Pin1",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 530,
        "y": 700,
        "wires": [
            [
                "514de01021d99b0b"
            ]
        ]
    },
    {
        "id": "e6bf9b59942ecac5",
        "type": "AndinoX1",
        "z": "f75dfdd2090140b8",
        "name": "",
        "channel": "1",
        "filter": "relay2",
        "chng": "0",
        "x": 900,
        "y": 700,
        "wires": [
            [
                "8868f145e38d95d5"
            ]
        ]
    },
    {
        "id": "3341b1bee017dd55",
        "type": "inject",
        "z": "f75dfdd2090140b8",
        "name": "Simulate PIN 1 turned on",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": ":0000{0,0,0,0,0,0}{1,0,0,0,0,0}{0,0,0,0,0,0}",
        "payloadType": "str",
        "x": 190,
        "y": 800,
        "wires": [
            [
                "f013a7bc648f3328"
            ]
        ]
    },
    {
        "id": "8868f145e38d95d5",
        "type": "tcp out",
        "z": "f75dfdd2090140b8",
        "name": "",
        "host": "localhost",
        "port": "9999",
        "beserver": "client",
        "base64": false,
        "end": false,
        "tls": "",
        "x": 1110,
        "y": 700,
        "wires": []
    },
    {
        "id": "87d7b8b64a437d2f",
        "type": "comment",
        "z": "f75dfdd2090140b8",
        "name": "Print changes of input pins/relay states to the debug panel",
        "info": "",
        "x": 290,
        "y": 360,
        "wires": []
    },
    {
        "id": "d9675fa908a259f9",
        "type": "tcp in",
        "z": "f75dfdd2090140b8",
        "name": "",
        "server": "client",
        "host": "localhost",
        "port": "9999",
        "datamode": "stream",
        "datatype": "utf8",
        "newline": "",
        "topic": "",
        "base64": false,
        "tls": "",
        "x": 170,
        "y": 460,
        "wires": [
            [
                "5ac45b8efd25f0c2"
            ]
        ]
    },
    {
        "id": "5ac45b8efd25f0c2",
        "type": "AndinoX1",
        "z": "f75dfdd2090140b8",
        "name": "",
        "channel": "1",
        "filter": "events",
        "chng": "1",
        "x": 400,
        "y": 460,
        "wires": [
            [
                "d5d61576b43b881a"
            ]
        ]
    },
    {
        "id": "d5d61576b43b881a",
        "type": "debug",
        "z": "f75dfdd2090140b8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 460,
        "wires": []
    },
    {
        "id": "514de01021d99b0b",
        "type": "trigger",
        "z": "f75dfdd2090140b8",
        "name": "",
        "op1": "true",
        "op2": "false",
        "op1type": "bool",
        "op2type": "bool",
        "duration": "3",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 700,
        "y": 700,
        "wires": [
            [
                "e6bf9b59942ecac5"
            ]
        ]
    }
]